$dark-color: #343758;
$light-color: rgba(255, 255, 255, 0.87);
$accent-color: #e5007d;

:root {
  --text-color: #{$dark-color};
  --background-color: #{$light-color};

  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  text-shadow:
    3px 3px 1px $accent-color,
    6px 6px 1px var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 15ch;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #{$dark-color};
    --background-color: #{$light-color};
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #{$light-color};
    --background-color: #{$dark-color};
  }
}
